body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

*,
*:before,
*:after {
     box-sizing: border-box;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Intro */
.intro{
    display: flex;
    width: 100%;
    height: 100vh;/*all users screen height*/
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background: url(../images/intro.jpg)center no-repeat;
    background-size: cover;
}
.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto; /*puts it at the center of the screen*/
    color: #fff;
}

.intro_title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_subtitle{
    font-size:25px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

/* Header */
.header{
    padding-top: 30px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Header logo */
.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner{
    display: flex;
    justify-content: space-between;/* separates the content of the block: to the left and right*/
    align-items: center;
}

/* Nav bar */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

/* Nav link */
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin:0 15px;
    color: #fff;
    text-decoration: none;
    transition:color .2s linear ;
    position: relative;
}

.nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    background-color: #fce38a;
    opacity: 0;
    
    transition: opacity .1s linear;
}

.nav_link:hover{
    color: #fce38a;
}

.nav_link:hover:after{
    opacity: 1;
}

/* Section */
.section{
    padding: 80px 0;
    margin: auto;
    
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin:  auto ;/*margins below and bottom*/
    text-align: center;
}

.section_suptitle{
    font-family: 'Kaushan Script', cursive;
    
    font-size: 24px;
    color: #333;
}

.section_title{
    font-family: 'Montserrat', sans-serif;

    font-size: 25px;
    color: #333;
    text-transform: uppercase;
}

.section_text{

    font-size: 15px;
    color: #999;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}



.raw{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: flex;
}

.about_item{
    float: left;
    width: 33%;
    padding: 5px;
    position: relative;
}



.about_item:hover  {
    opacity: .5  ;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: opacity .2s linear;
    transform: transform .1s linear;
    transform: translate3d(-5px, -5px, -5px) ;/*(x px axis, y , z)its the best for slow transformations*/
    opacity: 1;

}

.about_item:hover .about_image_text {
    opacity: 1;

}

.about_image_text{
    width: 95%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    top: 40%;
    position: absolute;
    transform: 0, -50%, 0;
    z-index: 2;/*moves things between layers*/
    opacity: 0;
    transition: opacity .5s linear;
}

.statistics{
    background-color: #95e1d3;

}

.stat{
    display: flex;
}

.stat_item{
    flex: 1 1 0;/*make the columns*/
    padding: 70px 25px;/*vert, hor*/
    border-left:1px solid #fff;
    text-align: center;
    color: #fff;
}

.stat_item:last-child{
    border-right:1px solid #fff;
}

.stat_num{
    font-size: 72px;
    font-weight: 700;/*fw700*/
}

.stat_text{
    font-size: 14px;
    text-transform: uppercase; /*ttu*/
}




  
  
